<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<header>
	<div class="navbar-header">
      <a class="navbar-brand" href="/">
	  <img style="max-width:80px; margin-top: -7px;" src="{{ url_for('static', filename='logo/lptlogo.png') }}">
	  </a>
    </div>

	<div class = "container-fluid">
		<a href="https://m.me/meshstocks"target="_blank">
		<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px">
		  <span class="Triangle" aria-hidden="true"></span><h>Se Our Demo</h>
		</button>
		</a>
		<div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
		</div>
	</div>

</header>

<body>

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>


</html>